---
// src/components/galerias/CardGaleria.astro
import type { ImageMetadata } from "astro";

interface Props {
  imgPath: string; // Ejemplo: "qigong-wudang/wu (0).webp"
  altText: string;
  width: number;
  height: number;
}

const { imgPath, altText, width, height } = Astro.props;

// 1. Buscamos TODAS las imágenes de la carpeta src/images automáticamente
const images = import.meta.glob<{ default: ImageMetadata }>("/src/images/**/*.{gif,webp,WEBP}");

// 2. Construimos la ruta completa que Astro necesita para encontrarla
const fullPath = `/src/images/${imgPath}`;

// 3. Verificamos si existe y la "importamos" dinámicamente
if (!images[fullPath])
  throw new Error(`"${fullPath}" no existe. Revisá si el nombre o la carpeta están bien.`);

const image = await images[fullPath]();
---

<a
  href={image.default.src}
  class="pswp-gallery__item"
  data-pswp-width={image.default.width}
  data-pswp-height={image.default.height}
  data-pswp-alt-text={altText}
>
  <img
    src={image.default.src}
    alt={altText}
    width={width}
    height={height}
    class="rounded-none shadow-xl w-full aspect-[4/5] border-2 p-1 object-cover"
    loading="lazy"
  />
</a>
